@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  font-family: "Oswald", sans-serif;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

